body {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
a {
    color: #108ee9;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
}
nav a {
    text-decoration: none;
    font-size: 18px;
}
nav a:visited, a:link {
    color: #999;
}
nav a:hover {
    color: #ddd;
}
nav a.active {
    color: #ddd;
}
nav a.router-link-active {
    color: #039be5;
}
.logo {
    width: 60px;
    height: 60px;
    float: left;
    background: url("./assets/images/logo.png") no-repeat;
    background-size: 100%;
}
.fl {
    float: left;
}
.nav-menu{
    float: left;
}
.nav-menu ul {
    height: 60px;
}
.nav-menu ul li {
    float: left;
    height: 100%;
    line-height: 60px;
    margin-left: 20px;
}
.common-label{
    float: left;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 6%;
}
.mr-20{
    margin-right: 20px;
}
.card-label-pos{
    position: absolute;
    position: absolute;
    top: 7px;
    left: 20px;
    font-size: 8px;
    color: #5ab0c1;
}
.common-table-head{
    background: #f7f7f7;
    height: 30px;
}
.common-table-head div{
    border-left: 2px solid #ffffff;
    height: 30px;
    line-height: 30px;
}
.page-container {
    padding-top: 50px;
    font-size: 14px;
}
.display-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.common-btn{
    width: 100px;
    height: 30px;
    font-size: 14px;
}
.row{
    margin-top: 10px;
}
.icon-common{
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}
.ant-input{
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
}
.ant-input:focus {
    border-color: #49a9ee;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
}
.ant-input:hover {
    border-color: #49a9ee;
}
.left-20{
    margin-left: 20px;
}
.search-div{
    width: 25%;
    position: relative;
    float: right;
  }
  .search-icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .search-input{
    width: 200px;
    height: 30px;
    float: right;
  }
  .add-contain{
    padding: 20px 35px;
    border: 1px solid #ccc;
    clear: both;
    margin-top: 20px;
    position: relative;
    margin-bottom: 10px;
  }
  body table{
    font-size: 18px;
  }
  .nav-login-warp{
    float: right;
    height: 100%;
    line-height: 70px;
    color: #fff;
  }
  .logined{
    border: 0px solid red;
    height: 100%;
  }
.nav-login-warp .icon{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    background: #ccc;
    vertical-align: middle;
}
.logined .nick-warp {
    display: inline-block;
    margin-right: 20px;
}
.nick-warp .icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    background: #ccc;
    vertical-align: middle;
}
.nick-warp .icon .app-logo {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.app-logo {
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nick-warp .nick {
    position: relative;
}

.nick-warp .nick {
    position: relative;
    cursor: pointer;
}
.logined span {
    margin: 0 3px;
}
.logined .nick-warp ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 80px;
    background: #eee;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.logined .nick-warp ul li {
    background: #eee;
    height: 40px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: #333;
    cursor: pointer;
    text-align: center;
}
.triangle-down {
    width: 12px;
    height: 12px;
    /* background: url(../img/triangle.png) center no-repeat; */
    border: 0px solid red;
    display: inline-block;
}
.nick-warp .icon .app-logo {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.app-logo {
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nick a:visited, .nick a:link{
    color: #333;
}