body {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
a {
    color: #108ee9;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
}
nav a {
    text-decoration: none;
    font-size: 18px;
}
nav a:visited, a:link {
    color: #999;
}
nav a:hover {
    color: #ddd;
}
nav a.active {
    color: #ddd;
}
nav a.router-link-active {
    color: #039be5;
}
.logo {
    width: 60px;
    height: 60px;
    float: left;
    background: url("./assets/images/logo.png") no-repeat;
    background-size: 100%;
}
.fl {
    float: left;
}
.nav-menu ul {
    height: 60px;
}
.nav-menu ul li {
    float: left;
    height: 100%;
    line-height: 60px;
    margin-left: 20px;
}
.common-label{
    float: left;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 5%;
}
.mr-20{
    margin-right: 20px;
}
.card-label-pos{
    position: absolute;
    position: absolute;
    top: 7px;
    left: 20px;
    font-size: 8px;
    color: #5ab0c1;
}
.common-table-head{
    background: #f7f7f7;
    height: 30px;
}
.common-table-head div{
    border-left: 2px solid #ffffff;
    height: 30px;
    line-height: 30px;
}
.page-container {
    padding-top: 50px;
    font-size: 14px;
}
.display-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.common-btn{
    width: 100px;
    height: 30px;
    font-size: 14px;
}
.row{
    margin-top: 10px;
}
.icon-common{
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}